* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    /*header, also Navbar*/
    
    body {
        background: linear-gradient(135deg, #0b0b0b, #383838);
    }
    
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        background: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    
    .logo {
        font-size: 22px;
        color: whitesmoke;
        text-decoration: none;
        font-weight: 700;        

    }

    .navbar a{
        position: relative;
        font-size: 18px;
        color: whitesmoke;
        font-weight: 500;
        text-decoration: none;
        margin-left: 30px;
    }

    .navbar a::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background:white;
    }
    .navbar a:hover::before {
        width: 100%;
    }

        
}



body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .anleitung-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    animation-name: glow;
  }

  
  
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 80px;
    animation-name: slideUp;
    animation-duration: 3s;

  }
  
 
  .schritt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
    #schritt:hover {
      animation-name: glow;
      animation-duration: 2s;
    }
  
  
  .schritt:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .bild {
    width: 150px;
    height: auto;
    border-radius: 8px;
    

  }


  
  .text {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  
  
  .schritt + .schritt {
    margin-top: 20px;
  }

  .snow,
.snow::after,
.snow::before {
    content: "";
    position: absolute;
    top: -650px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
        radial-gradient(4px 4px at 100px 100px, #fff, transparent), 
        radial-gradient(6px 6px at 200px 250px, #fff, transparent),
        radial-gradient(3px 3px at 300px 3500px, #fff, transparent),
        radial-gradient(4px 4px at 400px 70px, #fff, transparent),
        radial-gradient(6px 6px at 50px 100px, #fff, transparent),
        radial-gradient(3px 3px at 50px 140px, #fff, transparent),
        radial-gradient(4px 4px at 150px 50px, #fff, transparent),
        radial-gradient(5px 5px at 250px 200px, #fff, transparent),
        radial-gradient(3px 3px at 350px 120px, #fff, transparent);
        background-size: 650px 650px;

        animation: snowAnim 3s linear;
        animation-iteration-count: infinite;
      
}


.snow::after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-direction: reverse;
  animation-duration: 6s;
}

.snow::before {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
}

@keyframes snowAnim {
  from{
    transform:translateY(0)
  }
  to{
    transform:translateY(650px)
}
 
}
@keyframes slideLeft {
  from{transform: translateX(50%)}
}

@keyframes slideUp {
  to{transform: translateY(20%);}
} 

@keyframes glow {
  50%{box-shadow: 0px 0px 50 red;}
  
}

.snow img {
  animation-direction: reverse;
  animation-duration:i;
}

